// 文字規範
$h1: 2.625rem;
$h2: 2.25rem;
$h3: 1.875rem;
$h4: 1.5rem;
$h5: 1.125rem;
$h6: 0.75rem;
$p: 1.125rem;

// 顏色規範
$colorText:#354149;
$navText: #626B72;
$primary: #448FFF;

//斷點
$md_breakpoint: 768px;
$lg_breakpoint: 992px;
$xl_breakpoint: 1024px;
$xxl_breakpoint: 1280px;