#app{
    @include xl(){
        display: flex;
    }
}
// rwd漢堡選單開關設定
#rwd-switch{
    position: absolute;
    left: -1000px;
    @include xl(){
        display: none;
    }
}
#rwd-switch:checked ~ header .header_hb span:first-child{
    top: 19px;
    transform: rotate(45deg);
    transition:top .3s, transform .3s .1s;
}
#rwd-switch:checked ~ header .header_hb span:nth-child(2){
    display: none;
}
#rwd-switch:checked ~ header .header_hb span:last-child{
    bottom: 19px;
    transform: rotate(-45deg);
    transition:bottom .3s, transform .3s .1s;
}
#rwd-switch:checked ~ header .rwd-main-nav{
    left: 0;
    opacity: 1;
    transition: opacity .5s;
}

// ------------左半部---------------------------------------

.rwd-header {
    width: 100%;
    background-color: $primary;
    height: 60px;
    @include xl(){
        width: 20%;
        height: auto;
    }

    .header-wrap{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        @include xl(){
            padding-top: 20px;
        }

        .header_hb{
            display: flex;
            flex-direction: column;
            width: 40px;
            height: 40px;
            position: relative;
            @include xl(){
                display: none;
            }

            span{
                position: absolute;
                left: 0;
                right: 0;
                width: 36px;
                height: 2px;
                margin: auto;
                background-color: #fff;
            }
            span:first-child{
                top: 11px;
              }
            span:nth-child(2){
                top: 0;
                bottom: 0;
            }
            span:last-child{
                bottom: 11px;
            }
        }

        .header-logo{
            width: 15%;
            img{
                width: 90%;
            }
        }
        .logo-name, .desk-arrow{
            display: none;
            @include xl(){
                display: block;
                color: #fff;
                font-weight: 600;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        .header-bell{
            @include xl(){
                display: none;
            }
            i{
                font-size: 1.25rem;
                color: #fff;
            }
        }
    }

    .rwd-main-nav{
        position: absolute;
        top: 60px;
        left: -1000px;
        opacity: 0;
        transition: opacity .5s, left 0s .5s;
        width: 100%;
        height: 100vh;
        background-color: #ADFFFA;
        @include xl(){
            position: relative;
            top: 0;
            left: 0;
            opacity: 1;
            background-color: $primary;
            padding-top: 20px;
        }

        .rwd-main-nav-wrap{
            width: 95%;
            margin: auto;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include xl(){
                width: 90%;
                margin-top: 0;
                align-items: flex-start;
            }

            .search-function{
                @include xl(){
                    display: none;
                }
                position: relative;
                input{
                    padding: 8px 8px 8px 28px;
                    outline: none;
                    color: $colorText;
                    border-radius: 20px;
                    border: none;
                }
                i{
                    position: absolute;
                    top: 8px;
                    left: 5px;
                    color: rgb(141, 141, 141);
                }
            }

            .rwd-nav-item{
                width: 70%;
                margin-top: 20px;
                @include xl(){
                    width: auto;
                    margin-top: 0;
                }

                .item-list{
                    li{
                        padding: 20px 0;
                        font-size: 1.5rem;
                    }
                    i{
                        color: $primary;
                        cursor: pointer;
                        @include xl(){
                            color: #fff;
                        }
                    }
                    .rwd-home,.rwd-exchange, .rwd-stock, .rwd-crypto{
                        display: flex;
                        align-items: center;
                        span{
                            padding-left: 30px;
                            cursor: pointer;
                            @include xl(){
                                color: #fff;
                                font-weight: 500;
                            }
                        }
                    }
                    .rwd-member{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span{
                            padding-left: 30px;
                            flex-grow: 1;
                            cursor: pointer;
                            @include xl(){
                                color: #fff;
                                font-weight: 500;
                            }
                        }
                        .rwd-item-arrow-down{
                            @include xl(){
                                margin-left: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// -------------右半部-----------------------------------
.right-container{
    @include xl(){
        width: 80%;
    }
    .top-bar{
        @include xl(){
            width: 100%;
            box-shadow: 0 5px 15px -5px #e0e0e0;
        }
        .top-bar-wrap{
            @include xl(){
                width: 95%;
                margin: auto;
                padding: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .top-search-function{
                position: relative;
                input{
                    @include xl(){
                        padding: 8px 8px 8px 28px;
                        outline: none;
                        color: $colorText;
                        border-radius: 20px;
                        border: none;
                        background-color: rgb(238, 238, 238);
                    }
                }
                i{
                    @include xl(){
                        position: absolute;
                        top: 8px;
                        left: 5px;
                        color: rgb(141, 141, 141);
                    }
                }
            }
            .bell-user-info-wrap{
                @include xl(){
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .top-bell, .top-user{
                    @include xl(){
                        padding: 8px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-color: #F6F6F6;
                        cursor: pointer;
                    }
                    i{
                        @include xl(){
                            font-size: 1.25rem;
                            color: #b9b9b9;
                        }
                    }
                }
                .user-info{
                    .user-email{
                        @include xl(){
                            color: #b9b9b9;
                        }
                    }
                }
            }
        }
    }
    .main-content{
        @include xl(){
            width: 100%;
        }
    }
}